# PostgreSQL
POSTGRES_DB=BackEndTest
POSTGRES_USER=postgres
POSTGRES_PASSWORD=X@lp@1234

# JWT (IMPORTANT: set a long random secret in production)
JWT_KEY=0123456789ABCDEF0123456789ABCDEF0123456789ABCDEF
JWT_ISSUER=employee-managementAPI
JWT_AUDIENCE=employee-managementAPIUsers
JWT_EXPIRES_IN_MINUTES=60

